html, body {
  margin: 0;
  padding: 0;
  background: #FBF6EE;
  min-height: 100%;
}

@import "tailwindcss";

:root {
  --background: #FBF6EE;
  --foreground: #33291E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #FBF6EE;
  color: #33291E;
}